/* Definindo uma classe para as animações */
.animation {
    transition: .3s all ease;
}

/* Definindo uma animação genérica de flutuação */
@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}

/* Definindo uma animação de cima para baixo */
@keyframes top_to_bottom {
    0% {
        transform: translateY(-60px);
    }
    100% {
        transform: translateY(0);
    }
}
