@import url('/style/variables.css');
@import url('/style/animations.css');

.body-welcome{
    justify-content:space-evenly;
    height: 100vh;
}

.body-portfolio, .body-experience{
    flex-direction: column;
    min-height: 80vh;
    margin: auto;
}

.body-welcome .welcome-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: self-start;
    width: 50%;
    min-width: 350px;
}

.body-welcome .welcome-photo img{
    width: 290px;
    border-radius: 50%;
    animation: float 6s ease-in-out infinite;
}

.body-presentation{
    background: var(--primary-radial-gradient);
    flex-wrap: wrap;
    color: var(--dark);
}

.body-presentation .presentation-about,
.body-presentation .presentation-photo{
    display: flex;
    width: 50%;
    min-width: 350px;
}

.body-presentation .presentation-about{
    justify-content: flex-start;
    flex-direction: column;
}

.body-presentation .presentation-about h3,
.body-presentation .presentation-about p{
    margin-bottom: 4vh;
}

.body-presentation .presentation-photo{
    justify-content: center;
    align-items: center;
}

.body-presentation .presentation-photo img{
    min-width: 320px;
    width: 56%;
    border: 8px solid var(--white);
    box-shadow: 6px 6px 1px var(--primary-color);
    border-radius: 8px;
}

.body-experience .experience-menu .box-skills{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.skills-info{
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.h3-html::after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(https://www.alura.com.br/artigos/assets/html-css-js/imagem-1.png);
    background-size: cover;
    margin-left: 10px;
}

.h3-css::after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(https://www.alura.com.br/artigos/assets/html-css-js/imagem-2.png);
    background-size: cover;
    margin-left: 10px;
}

.h3-js::after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(https://www.alura.com.br/artigos/assets/html-css-js/imagem-3.png);
    background-size: cover;
    margin-left: 10px;
}

.h3-react::after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/a/a7/React-icon.svg);
    background-size: cover;
    margin-left: 10px;
}

.h3-git::after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(https://avatars.githubusercontent.com/u/18133?s=200&v=4https://www.alura.com.br/artigos/assets/html-css-js/imagem-4.png);
    background-size: cover;
    margin-left: 10px;
}

progress{
    height: 25px;
    width: 100dvh;
    position: relative;
    border-radius: 8px;
}

progress::-webkit-progress-value {
    background: var(--primary-linear-gradient);
    border-radius: 8px;
}

progress::-webkit-progress-bar {
    background-color: var(--gray);
    border-radius: 8px;
}

progress::after {
    content: attr(value) '%';
    font-size: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--dark);
}

.body-experience .box-experience{
    flex-direction: column;
}

.body-experience .box-experience .experience-info{
    width: 50%;
    min-width: 350px;
    margin-bottom: 8vh;
}

.body-experience .box-experience .experience-info h3 span{
    color: var(--primary-color);
}

.body-portfolio .portfolio-main-projects .main-projects-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2vw;
}

.body-portfolio .portfolio-main-projects .main-projects-options .card_project{
    width: 380px;
    height: 260px;
    box-shadow: 4px 4px 1px var(--primary-color);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
    border: 1px solid var(--gray); 
    cursor: pointer;
    transition: .3s;
}

.body-portfolio .portfolio-main-projects .main-projects-options .card_project:hover,
.body-portfolio .portfolio-main-projects .main-projects-options .card_project:focus{
    transform: scale(1.1);
}


.body-portfolio .portfolio-main-projects .main-projects-options .card_project .card_project_img{
    width: 100%;
    text-align: center;
}

.body-portfolio .portfolio-main-projects .main-projects-options .card_project .card_project_img img{
    width: 100%;
    border-radius: 8px;
    max-height: 176px;
    object-fit: cover;
}

.body-portfolio .portfolio-main-projects .main-projects-options .card_project .card_project_about{
    width: 100%;
    padding-left: 2vw;
}

.body-portfolio .portfolio-main-projects .main-projects-options .portfolio-more{
    width: 100%;
    text-align: center;
}

/* Mobile */
@media (max-width: 480px) {
}

/* Tablet */
@media (min-width: 481px) and (max-width: 768px) {
}

/* Desktop */
@media (min-width: 992px) and (max-width: 1199px) {
}