@import url('./variables.css');
@import url('./animations.css');

/* Corpo de boas-vindas */
.body-welcome {
    justify-content: space-evenly;
    height: 100vh;
}

.body-welcome .welcome-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: self-start;
    width: 50%;
    min-width: 350px;
}

.body-welcome .welcome-photo img {
    width: 290px;
    border-radius: 50%;
    animation: float 6s ease-in-out infinite;
}

.textInit {
    font-size: var(--h3-size);
    font-weight: var(--font-weight-md);
    color: var(--dark);
}

/* Corpo de portfólio e experiência */
.body-portfolio,
.body-experience {
    flex-direction: column;
    min-height: 80vh;
    margin: auto;
}

/* Corpo de apresentação */
.body-presentation {
    background: var(--primary-radial-gradient);
    flex-wrap: wrap;
    color: var(--dark);
}

.presentation-about,
.presentation-photo {
    display: flex;
    width: 50%;
    min-width: 350px;
}

.body-presentation .presentation-about {
    justify-content: flex-start;
    flex-direction: column;
}

.presentation-about h3,
.presentation-about p {
    margin-bottom: 4vh;
}

.body-presentation .presentation-photo {
    justify-content: center;
    align-items: center;
}

.body-presentation .presentation-photo img {
    min-width: 320px;
    width: 56%;
    border: 8px solid var(--white);
    box-shadow: 6px 6px 1px var(--primary-color);
    border-radius: 8px;
}

/* Corpo de experiência */
.body-experience .experience-menu .box-skills {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.skills-info {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

/* Ícones de habilidades */
.h3-html::after,
.h3-css::after,
.h3-js::after,
.h3-react::after,
.h3-git::after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

.h3-html::after {
    background-image: url(/assents/icon-html.webp);
    background-size: cover;
}

.h3-css::after {
    background-image: url(/assents/icon-css.webp);
    background-size: cover;
}

.h3-js::after {
    background-image: url(/assents/icon-js.webp);
    background-size: cover;
}

.h3-react::after {
    background-image: url(/assents/react-icon.webp);
    background-size: cover;
}

.h3-git::after {
    background-image: url(/assents/git-icon.webp);
    background-size: cover;
}

/* Barra de progresso */
progress {
    height: 25px;
    width: 100dvh;
    position: relative;
    border-radius: 8px;
}

progress::-webkit-progress-value {
    background: var(--primary-linear-gradient);
    border-radius: 8px;
}

progress::-webkit-progress-bar {
    background-color: var(--gray);
    border-radius: 8px;
}

progress::after {
    content: attr(value) '%';
    font-size: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--dark);
}

/* Corpo de experiência */
 .box-experience {
    flex-direction: column;
}

 .experience-info {
    width: 50%;
    min-width: 350px;
    margin-bottom: 8vh;
}

.body-experience .box-experience .experience-info h3 span {
    color: var(--secundary-color);
}

/* Corpo de portfólio */
.body-portfolio .portfolio-main-projects .main-projects-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2vw;
}

 .main-projects-options .card_project {
    width: 380px;
    height: 260px;
    box-shadow: 4px 4px 1px var(--primary-color);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--gray);
    transition: .3s;
}

 .card_project:hover,
 .card_project:focus {
    transform: scale(1.1);
}

.card_project_img {
    width: 100%;
    text-align: center;
}

.card_project_img img {
    width: 100%;
    border-radius: 8px;
    max-height: 176px;
    object-fit: cover;
}

.card_project_about {
    padding-left: 2vw;
}

.portfolio-more {
    text-align: center;
}

/* Mobile */
@media (max-width: 500px) {
    .body-welcome {
        height: auto;
        gap: 20px;
        margin: 20px;
    }

    .body-welcome .welcome-text {
        width: auto;
        align-items: center;
        gap: 20px;
        margin-top: 80px;
    }

    .welcome-text {
        margin: 20px;
    }

    .welcome-photo img {
        display: none;
    }

    .body-presentation .presentation-about {
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .body-presentation .presentation-photo {
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .skills-info {
        width: 96%;
    }

    .body-experience .box-experience .experience-info {
        width: 100%;
    }

    .body-portfolio .portfolio-main-projects .main-projects-options {
        gap: 6vw;
    }

    .footer-menu {
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }

    p {
        font-size: var(--base-font-responsive);
    }

    h3 {
        font-size: var(--h3-size-responsive);
    }
}

/* Tablet */
@media (min-width: 501px) and (max-width: 768px) {

    .body-welcome .welcome-text {
        width: 80%;
        min-width: unset;
    }

    .body-presentation .presentation-about,
    .body-presentation .presentation-photo {
        width: 80%;
        min-width: unset;
    }

    .skills-info {
        width: 90%;
        padding: 0;
    }

    .body-experience .box-experience .experience-info {
        width: 80%;
        min-width: unset;
    }

    .body-portfolio .portfolio-main-projects .main-projects-options {
        gap: 4vw;
    }
}

/* Desktop */
@media (min-width: 992px) and (max-width: 1199px) {

    .body-welcome .welcome-text {
        width: 60%;
        min-width: unset;
    }

    .body-presentation .presentation-about,
    .body-presentation .presentation-photo {
        width: 60%;
        min-width: unset;
    }

    .skills-info {
        width: 80%;
        padding: 0;
    }

    .body-experience .box-experience .experience-info {
        width: 60%;
        min-width: unset;
    }

    .body-portfolio .portfolio-main-projects .main-projects-options {
        gap: 6vw;
    }
}
